@media screen and (max-width: 1080px) {

    .container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        display: grid;
        column-gap: 20px;   
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: r1f 80% 1fr;
    }

    header {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 125%;
        grid-column: 1;
        grid-row: 1;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    
    .logo {
        grid-column: 1/3;
        grid-row: 1/3;
    }
    
    #watch {
        width: 200px;
        grid-column: 2/5;
        grid-row: 1;
    }, Siedemdziesiąt Cztery, Siedemdziesiąt Pięć, Siedemdziesiąt Sześć, Siedemdziesiąt Siedem, Siede
    
    .profile-photo {
        grid-column: 2/5;
        grid-row: 2;
    }



    .profile-photo img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    main {
        grid-column: 1;
        grid-row: 2;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(7, 1fr);
        grid-gap: 30px;
    }

    .description {
        grid-column: 1/5;
        grid-row: 1/4;
        display: grid;
    
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 200px repeat(3, 1fr);
        grid-gap: 15px;
    }

    .tile-social {
        grid-row: 4;
    }

    .tile-social:hover {
        grid-row: 4;
    }

    .text {
        font-size: 200%;
        grid-column: 1/5;
        grid-row: 1 / 4;
        font-size: medium;
        text-align: justify;
        font-family: roboto;
        background-color: #777777;
    
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text > p {
        font-size: 150%;
    }

    .tiles {     
        grid-column: 1/5;
        grid-row: 4/7;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 15px;
    }

    

    footer {
        text-align: center;
        font-size: 65%;
        background-color: rgb(36, 36, 36);
        grid-column: 1;
        grid-row: 3;
        align-self: end; 
    }

}

@media screen and (max-width: 1200px) {

    main {
        margin: 10px;
    }
}