body
{
    background-color: #303030;
    color: white;
}
#coteiner
{
    width: 100%;
    margin-right: auto;
    margin-left: auto;    
}
    #header
    {
        width: 90%;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 200%;
    }
    
    .header
    {
        float: left;
        margin: 6%;
        margin-left: 6%;
    }
        #logo
        {
            margin-right: 10%;
            margin-bottom: 30px;
        }
        #watch
        {
            margin-right: 10%;
            margin-bottom: 30px;
        }
    .box
    {
        width: 50%;
        height: 500px;
        float: left;
    }
        .tile
        {
            width: 40%;
            height: 24.84%;
            margin: 3%;
            margin-right: 3%;
            float: right;
            text-align: center;
        }
        .tile:hover{opacity: 20%;}
        
        #tile1{background-color: #3095d3;} #tile1:hover{background-color: #1073b1;}
        #tile2{background-color: #FF7F50;} #tile2:hover{background-color: #dd5d30;}
        #tile3{background-color: #93c748;} #tile3:hover{background-color: #71a527;} 
        #tile4
        {
            background-color: #ee5232;
            width: 86%;
            margin-top: 2%;
        }
        #tile4:hover{background-color: #cc3010;} 
        #tile5
        {
            background-color: #666666;
            width: 86%;
            height: 55%;
            float: left;
            margin-right: 30%;
        }
        .boxin
        {
            margin-top: 10%;
        }
        #boxinbusiness
        {
            margin-top: 4%;
        }
        .boxinsocial
        {
            margin-top: 30%;
        }
        #text
        {
            font-size: medium;
            margin: 5%;
            text-align: justify;
            font-family: roboto;
        }
        #social
        {
            width: 70%;
            background-color: red;
            height: 24.84%;
            float: left;
            margin-right: 30%;
        }
        .tilesocial
        {
            width: 19%;
            height: 24.84%;
            float: left;
            margin-left: 3%;
            margin-top: 3%;
            text-align: center;
        }
        #me       {background-color: #ffffff}  #me:hover{background-color: #eeeeee}
        #persontest{color: black;}
        #facebook {background-color: #4658b3;} #facebook:hover {background-color: #2436b1;}
        #linkenin {background-color: #0077b5;} #linkenin:hover {background-color: #0055b2;}
        #mail     {background-color: #777777;} #mail:hover     {background-color: #555555};
    footer
    {
        text-align: center;
        width: 100%;
        float: left;
        clear: both;
        font-size: 65%;
        background-color: red;
    }
    #textfooter
    {
        text-align: center;
    }
    .textlink:hover
    {text-decoration: underline;}
    

/*Nieodwiedzony link*/
a:link
{
    color: white;
    text-decoration: none;
}
/*Odwiedzony link*/
a:visited
{
    color: white;
    text-decoration: none
}
/*link po najechaniu kursorem*/
a:hover
{
    color: white;
}


    