body {
    background-color: #303030;
    color: rgb(219, 219, 219);
    margin: 0;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;    
}

header {
    width: 90%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 200%;
}

.logo, #watch {
    float: left;
    margin: 2%;
    margin-left: 6%;
    display: flex;
    justify-content: flex-end; 
}

.logo {
    margin-right: 10%;
    margin-bottom: 30px;
}

#watch {
    margin-right: 10%;
    margin-bottom: 30px;
    width: 200px; 
}

.tiles, .description {
    width: 50%;
    float: left;
}
.social-links {
    width: 100%;
}
.tile {
    width: 40%;
    height: 24.84%;
    margin: 3%;
    margin-right: 3%;
    float: right;
    text-align: center;

    background-color: #3095d3;
}

.tile:hover {
    opacity: 20%;
    background-color: #1073b1;
}
/*
.tiles a:nth-child(1) .tile {
    background-color: #3095d3;
}

.tiles a:nth-child(1) .tile:hover {
    background-color: #1073b1;
}

.tiles a:nth-child(2) .tile {
    background-color: #FF7F50;
}

.tiles a:nth-child(2) .tile:hover {
    background-color: #dd5d30;
}


.tiles a:nth-child(3) .tile {
    background-color: #93c748;
}

.tiles a:nth-child(3) .tile:hover {
    background-color: #71a527;
}

.tiles a:nth-child(4) .tile {
    background-color: #ee5232;
}

.tiles a:nth-child(4) .tile:hover {
    background-color: #cc3010;
}

.tiles a:nth-child(5) .tile {
    background-color: #666666;
}

.tiles a:nth-child(5) .tile:hover {
    background-color: #676676;
}
*/

/* Styl dla kafelka "modelowanie biznesowe" */
.tiles a:nth-child(5) .tile {
    width: 86%;
}
.tiles a:nth-child(5) .tile:hover {
    width: 86%;
}

.boxin {
    margin-top: 10%;
}

.boxin-business {
    margin-top: 4%;
}

.boxin-social {
    
}

.text {
    font-size: medium;
    margin: 5%;
    text-align: justify;
    font-family: roboto;
}

.profile-photo {
    display: flex;
    justify-content: flex-end; 
    margin: 2%;
}

.profile-photo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.tile-social {
    width: 15%;
    height: 120px;
    float: left;
    display: flex; /* Ustawia kontener jako flexbox */
    justify-content: center; /* Wyśrodkowuje zawartość w poziomie */
    align-items: center; /* Wyśrodkowuje zawartość w pionie */
    margin: 4%;
}

.tile-social#me {
    background-color: #ffffff;
}

.tile-social#me:hover {
    background-color: #eeeeee;
}

.person-test {
    color: black;
}

.tile-social#facebook {
    background-color: #4658b3;
}

.tile-social#facebook:hover {
    background-color: #2436b1;
}

.tile-social#linkedin {
    background-color: #0077b5;
}

.tile-social#linkedin:hover {
    background-color: #0055b2;
}

.tile-social#mail {
    background-color: #777777;
}

.tile-social#mail:hover {
    background-color: #555555;
}

.tile {
    width: 40%;
    height: 24.84%;
    margin: 3%;
    margin-right: 3%;
    float: right;
    text-align: center;
}


.tile-business-model:hover {
    background-color: #cc3010;
}


footer {
    text-align: center;
    width: 100%;
    float: left;
    clear: both;
    font-size: 65%;
    background-color: rgb(5, 0, 32);
}

.text-footer {
    text-align: center;
}

.text-link:hover {
    text-decoration: underline;
}

/* Nieodwiedzony link */
a:link {
    color: white;
    text-decoration: none;
}

/* Odwiedzony link */
a:visited {
    color: white;
    text-decoration: none;
}

/* Link po najechaniu kursorem */
a:hover {
    color: white;
}
